
.vs/Lab IV/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.vcxproj
*.sln
*.filters
*.user
*.exe
*.recipe
*.log
*.ilk
*.pdb
*.tlog
*.txt
*.idb
*.obj

/main.cpp
main.cpp
*.jpg
main.cpp
*.json
*.sarif
*.xml
.vs/src/v16/.suo
